<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <h2 class="text-left text-primary mt-2 ml-2">Equipsys-admin</h2>
    <h4 class="text-left text-dark mt-5 ml-2">Мой аккаунт</h2>
    <div class="card bg-light mt-2 ml-2 mr-2" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">{{my_data.username}}</h5>
            <div class="row">
                <div class="col"><h6>Email:</h6></div>
                <div class="col"><h6>Дата создания аккаунта:</h6></div>
 
                <div class="w-100"></div>
                <div class="col">{{my_data.email}}</div>
                <div class="col">{{my_data.created_at}}</div>

            </div>
            <div class="mt-3">
                <a class="btn btn-danger text-light" data-toggle="modal" data-target="#delAccountModalCenter">Удалить</a>
                <a class="btn btn-secondary float-right text-light" data-toggle="modal" data-target="#exitModalCenter">Выход</a>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="exitModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Выйти из аккаунта</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите выйти из аккаунта?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                    <a href="/exit" type="button" class="btn btn-danger">Выйти</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delAccountModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление аккаунта</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Удалить аккаунт {{my_data.username}}? Система не предусматривает возможности восстановления учётной записи!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                <a href="/delete_current_user" type="button" class="btn btn-danger">Удалить</a>
            </div>
            </div>
        </div>
    </div>

    
    <h4 class="text-left text-dark mt-5 ml-2">Все пользователи:</h4>
    {% for user in all_users %}
    {% if not user.is_superuser%}
    <div class="card bg-light mt-2 ml-2 mr-2" style="width: auto;">
        <div class="card-body">
            <h5 class="card-title">{{user.username}}</h5>
            <div class="row">
                <div class="col"><h6>Email:</h6></div>
                <div class="col"><h6>Дата создания аккаунта:</h6></div>
                <div class="col"><h6>Дата последнего изменения аккаунта:</h6></div>
                <div class="w-100"></div>
                <div class="col">{{user.email}}</div>
                <div class="col">{{user.created_at}}</div>
                <div class="col">{{user.updated_at}}</div>
            </div>
            <div class="mt-3">
                <a class="btn btn-success text-light" data-toggle="modal" data-target="#userToAdminModalCenter_{{user.id}}">Назначить админом</a>
                <a class="btn btn-danger text-light" data-toggle="modal" data-target="#delAccountModalCenter">Удалить</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userToAdminModalCenter_{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Назначение админом</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы действительно хотите назначить {{user.username}} админом?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
                    <a href="/user_to_admin/{{user.id}}" type="button" class="btn btn-success">Сделать админом</a>
                </div>
            </div>
        </div>
    </div>

    <script>


    </script>
    {% endif %}
    {% endfor %}



<script>

$("#edit_form_account").on("submit", function(){
	$.ajax({
        type: 'POST',
		url: '/edit_current_user',
		data: $(this).serialize(),
		success: function(data){
            location.reload(); 
		},
        error: function(data){
            $("#login_reuse_alert").show();
        }
	});
return false;
});
</script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>